@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/* don't display search form */
form.form-inline {
  display: none;
}

/* change navbar color */
.navbar.bg.primary {
  background-image: linear-gradient(#141414, #323232 60%, #404040);
}

/* logo font*/
a.navbar-brand {
  font-family: "Raleway", sans-serif;;
}

/* small box around version number*/
small.nav-text {
  color: #404040;
  background-color: #d3e432;
  padding-left: 5px;
  padding-right:5px;
  border-radius: 3px;
}

/* don't underline functions in code */
span.fu > a {
  text-decoration: none !important;
}

/*
.label-default {
  background-color: #b4c41d;
}
*/

/* don't show small logo on every page */
img.logo {
  display: none;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  /*  "Lato", sans-serif */
  font-size: 16px !important;
  line-height: 1.846 !important;
  font-weight: 400 !important;
  color: #444444 !important;
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: .1px !important;
}

.navbar li>a, .navbar li>a {
  color: #ffffff !important;
}

.navbar li>a:hover, .navbar li>a:focus {
  color: #ffffff !important;
  text-decoration: none !important;
}

p>a, li>a, li>small>a, ul.dropdown-menu>li>a {
  color: #83bb13 !important;
}

@media (max-width: 768px) {
  ul.dropdown-menu>li>a {
      color: #ffffff !important;
  }
}

p>a:hover, p>a:focus, li>a:hover, li>a:focus, li>small>a:hover, li>small>a:focus {
  color: #d98205 !important;
  text-decoration: none !important;
}

/* ul.dropdown-menu>li>a:hover, ul.dropdown-menu>li>a:focus */
.ref-index th {
  font-weight: 400 !important;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  color: #000 !important;
  font-weight: 300 !important;
  line-height: 1.1 !important;
}

h5, h6, .h5, .h6 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  color: #000 !important;
  font-weight: 400 !important;
  line-height: 1.1 !important;
}

pre {
  font-size: 14px !important;
  line-height: 1.846 !important;
}

code, kbd, pre, samp {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace !important;
}
